# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Dataset/train.json
corenlp/build.xml
corenlp/CoreNLP-to-HTML.xsl
corenlp/corenlp.sh
corenlp/ejml-core-0.39-sources.jar
corenlp/ejml-core-0.39.jar
corenlp/ejml-ddense-0.39-sources.jar
corenlp/ejml-ddense-0.39.jar
corenlp/ejml-simple-0.39-sources.jar
corenlp/ejml-simple-0.39.jar
corenlp/input.txt
corenlp/input.txt.out
corenlp/input.txt.xml
corenlp/javax.activation-api-1.2.0-sources.jar
corenlp/javax.activation-api-1.2.0.jar
corenlp/javax.json-api-1.0-sources.jar
corenlp/javax.json.jar
corenlp/jaxb-api-2.4.0-b180830.0359-sources.jar
corenlp/jaxb-api-2.4.0-b180830.0359.jar
corenlp/jaxb-core-2.3.0.1-sources.jar
corenlp/jaxb-core-2.3.0.1.jar
corenlp/jaxb-impl-2.4.0-b180830.0438-sources.jar
corenlp/jaxb-impl-2.4.0-b180830.0438.jar
corenlp/joda-time-2.10.5-sources.jar
corenlp/joda-time.jar
corenlp/jollyday-0.4.9-sources.jar
corenlp/jollyday.jar
corenlp/LIBRARY-LICENSES
corenlp/LICENSE.txt
corenlp/Makefile
corenlp/patterns/example.properties
corenlp/patterns/goldnames.txt
corenlp/patterns/goldplaces.txt
corenlp/patterns/names.txt
corenlp/patterns/otherpeople.txt
corenlp/patterns/places.txt
corenlp/patterns/presidents.txt
corenlp/patterns/stopwords.txt
corenlp/pom-java-11.xml
corenlp/pom.xml
corenlp/protobuf.jar
corenlp/README.txt
corenlp/RESOURCE-LICENSES
corenlp/SemgrexDemo.java
corenlp/ShiftReduceDemo.java
corenlp/slf4j-api.jar
corenlp/slf4j-simple.jar
corenlp/stanford-corenlp-4.2.0-javadoc.jar
corenlp/stanford-corenlp-4.2.0-models.jar
corenlp/stanford-corenlp-4.2.0-sources.jar
corenlp/stanford-corenlp-4.2.0.jar
corenlp/StanfordCoreNlpDemo.java
corenlp/StanfordDependenciesManual.pdf
corenlp/sutime/british.sutime.txt
corenlp/sutime/defs.sutime.txt
corenlp/sutime/english.holidays.sutime.txt
corenlp/sutime/english.sutime.txt
corenlp/sutime/spanish.sutime.txt
corenlp/tokensregex/color.input.txt
corenlp/tokensregex/color.properties
corenlp/tokensregex/color.rules.txt
corenlp/tokensregex/retokenize.txt
corenlp/xom-1.3.2-sources.jar
corenlp/xom.jar
corenlp/istack-commons-runtime-3.0.7-sources.jar
*.jar
corenlp_server-8b32571b8d854ea9.props
corenlp_server-f80e622c1f454433.props
corenlp_server-32785b5bf3484436.props
corenlp_server-d1311d20546b4e1e.props
corenlp_server-d6e0e10face9449e.props

*.pyc
*.DS_Store
*~
data/
*.tar.gz
*.egg-info
